<div class="row g-0">
    <div class="container-fluid bg-white-200 bg-opacity-75 p-4 po-ralative">
        <div id="contentArea">
            <div class="row ">
                <div class="col border border-0 rounded shadow bg-white p-5">
                    <h4 class="text-center">Thông tin lịch hẹn</h4>
                    <% if (booking) { %>
                        <p>
                            <span class="text-secondary">Mã lịch hẹn:</span>
                            <%= booking.id %>
                                <i class="fas fa-edit fw-light text-cyan-400 ms-2" style="cursor: pointer;"
                                    title="Chỉnh sửa thông tin" onclick="editDocInfo()"></i>
                        </p>
                        <p><span class="text-secondary">Trạng thái:</span>
                            <%= booking.status %>
                        </p>
                        <p><span class="text-secondary">Ngày khám:</span>
                            <%= booking.date %>
                        </p>
                        <p><span class="text-secondary">Bác sĩ:</span>
                            <%= booking.Schedule.Doctor.User.name %>
                        </p>
                        <p><span class="text-secondary">Bệnh nhân:</span>
                            <%= booking.Patient.User.name %>
                        </p>
                        <p><span class="text-secondary">Thời gian khám:</span>
                            <%= booking.Schedule.Timeslot.startTime %> - <%= booking.Schedule.Timeslot.endTime %>
                        </p>
                        <p><span class="text-secondary">Ngày đặt:</span>
                            <%= booking.createdAt %>
                        </p>
                        <p><span class="text-secondary">Ngày chỉnh sửa:</span>
                            <%= booking.updatedAt %>
                        </p>
                        <% } else { %>
                            <p class="fs-5 text-center">Không có thông tin lịch</p>
                            <% } %>
                </div>
                <div class="col ms-3 border border-0 rounded shadow bg-white p-5">
                    <h4 class="text-center text-uppercase">BÁc sĩ <%= booking.Schedule.Doctor.User.name %>
                    </h4>
                    <% if (booking.Schedule.Doctor.User) { %>
                        <!-- <a href="/doctor-detail/<%= booking.Schedule.Doctor.User.id %>" type="button"
                            class="my-2 btn btn-outline-primary">
                            Thông tin bác sĩ
                        </a> -->
                        <p><span class="text-secondary">Tên bác sĩ:</span>
                            <%= booking.Schedule.Doctor.User.name %>
                        </p>
                        <p><span class="text-secondary">Chuyên khoa:</span>
                            <%= booking.Schedule.Doctor.Specialty.name %>
                        </p>
                        <p><span class="text-secondary">Cơ sở y tế:</span>
                            <%= booking.Schedule.Doctor.Facility.name %>
                        </p>
                        <p><span class="text-secondary">Giá Khám:</span>
                            <!-- <%= booking.price %> -->
                        </p>
                        <% } else { %>
                            <p class="fw-bold fs-5 text-center">Không có thông tin tài khoản</p>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
</div>