<div class="row m-2 p-2 border border-0 rounded shadow bg-white caption-top">
    <span class="text-gray-600 text-start p-0">THÔNG TIN TỔNG QUÁT</span>
    <hr>
    <div class="d-flex justify-content-around align-items-end">
        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-user-md text-blue-300"></i><span class="fs-1 fw-bold text-blue-500"
                    id="totalBookings">
                    <%= totalBooking %>
                </span>
            </div>
            <p class="mb-1 fs-5 text-blue-600">LỊCH HẸN</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-calendar-alt text-orange-300"></i><span class="fs-1 fw-bold text-orange-500"
                    id="totalAppointmentsToday"></span>
                <%= todayBookings %>
                    </span>
            </div>
            <p class="mb-1 fs-5 text-orange-600">LỊCH HẸN HÔM NAY</p>
        </div>

        <div class="card shadow-sm rounded border-2 bg-white p-3 w-25 text-center">
            <div class="icon-wrapper mb-2">
                <i class="fs-1 me-2 fas fa-check-circle text-green-300"></i><span class="fs-1 fw-bold text-green-500"
                    id="totalApprovedAppointments"></span>
            </div>
            <p class="mb-1 fs-5 text-green-600">ĐÃ KHÁM</p>
        </div>
    </div>
</div>
<div class="row m-2 p-4 border border-0 rounded shadow bg-white">
    <table class="table table-striped table-hover table-bordered caption-top">
        <caption>DANH SÁCH LỊCH KHÁM
            <hr class="m-0">
        </caption>
        <thead>
            <tr class="text-center">
                <th>STT</th>
                <th>Mã lịch</th>
                <th>Bác sĩ</th>
                <th>Trạng thái</th>
                <th>Ngày khám</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <% bookings.forEach((booking, index)=> { %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= booking.id %>
                    </td>
                    <td>
                        <%= booking.Schedule.Doctor.User.name %>
                    </td>
                    <td>
                        <%= booking.status %>
                    </td>
                    <td>
                        <%= booking.date %>
                    </td>
                    <td class="text-center">
                        <a href="/booking-detail/<%= booking.id %>">
                            <button class="btn btn-success">Chi tiết</button>
                        </a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>