<div class="row g-0">
    <div class="container-fluid bg-white-200 bg-opacity-75 text-center p-4 po-ralative">
        <div class="d-flex justify-content-between mb-3">
            <p class="fs-5 text-gray-700 text-start" id="pageTitle">Thông tin bác sĩ</p>
            <a href="/user-detail/<%= doctor.User.id %>" class="ms-3 p-2 btn btn-outline-primary">Quản lý tài khoản</a>
        </div>
        <div id="contentArea">
            <div class="row">
                <div class="col-4 border border-0 rounded shadow p-5 bg-white text-start">
                    <h3 class="text-center text-uppercase">BÁc sĩ <%= doctor.User.name %>
                    </h3>
                    <% if (doctor) { %>
                        <p>Giới thiệu: <%= doctor.infor %>
                        </p>
                        <p>Kinh nghiệm làm việc: <%= doctor.experience %>
                        </p>
                        <p>Giá khám: <%= doctor.price %>
                        </p>
                        <p>Chuyên khoa: <%= doctor.Specialty.name %>
                        </p>
                        <p>Làm việc tại: <%= doctor.Facility.name %>
                        </p>
                        <% } else { %>
                            <p class="fs-6 m-0 text-center text-red-400">Không có thông tin bác sĩ</p>
                            <% } %>
                </div>
                <div class="col ms-3 border border-0 rounded shadow p-5 bg-white">
                    <table class="mb-4 table table-hover table-info table-bordered caption-top text-center">
                        <caption>LỊCH LÀM VIỆC
                            <hr class="m-0">
                        </caption>
                        <thead class="text-secondary">
                            <tr>
                                <th>Đã đặt</th>
                                <th>Tối đa</th>
                                <th>Ngày khám</th>
                                <th>Thời gian khám</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (!schedules) { %>
                                <tr>
                                    <td colspan="5" class="text-center text-secondary">Bác sĩ chưa có làm việc</td>
                                </tr>
                                <% } else { %>
                                    <tr>
                                        <td>
                                            <%= schedules.currentNumber %>
                                        </td>
                                        <td>
                                            <%= schedules.maxNumber %>
                                        </td>
                                        <td>
                                            <%= schedules.date %>
                                        </td>
                                        <td>
                                            <%= schedules.Timeslot.startTime %> - <%= schedules.Timeslot.endTime %>
                                        </td>
                                        <td>
                                            <a href="/schedule-detail/<%= schedules.id %>">Xem chi tiết</a>
                                        </td>
                                    </tr>
                                    <% } %>
                        </tbody>
                    </table>

                    <table class="mb-4 table table-hover table-info table-bordered caption-top text-center">
                        <caption>LỊCH HẸN
                            <hr class="m-0">
                        </caption>
                        <thead class="text-secondary">
                            <tr>
                                <th>Mã</th>
                                <th>Bệnh nhân</th>
                                <th>Ngày khám</th>
                                <th>Thời gian khám</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (bookings===null) { %>
                                <tr>
                                    <td colspan="5" class="text-center text-secondary">Bác sĩ chưa có lịch hẹn</td>
                                </tr>
                                <% } else { %>
                                    <tr>
                                        <td>
                                            <%= bookings.id %>
                                        </td>
                                        <td>
                                            <%= bookings.Patient.User.name %>
                                        </td>
                                        <td>
                                            <%= bookings.date %>
                                        </td>
                                        <td>
                                            <%= bookings.Schedule.Timeslot.startTime %> - <%= bookings.Schedule.Timeslot.endTime %>
                                        </td>
                                        <td>
                                            <a href="/booking-detail/<%= bookings.id %>">Xem chi tiết</a>
                                        </td>
                                    </tr>
                                    <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>