<div class="row g-0">
    <div class="container-fluid bg-white-200 bg-opacity-75 text-center p-4 po-ralative">
        <p class="fs-5 text-gray-700 text-start" id="pageTitle">Chi tiết bệnh nhân</p>
        <div id="contentArea">
            <div class="row m-0">
                <div class="row">
                    <div class="col ms-3 ps-2 text-start">
                        <div class="row mb-2 border border-0 rounded shadow-sm bg-white">
                            <!-- <% if (patient && patient.User) { %> -->
                            <p class="fw-bold fs-5 text-center">Thông tin bệnh nhân</p>
                            <!-- <p class="m-0">Mã số bảo hiểm: <%= patient.health_insurance_code %> -->
                            <!-- </p> -->
                            <!-- <p class="m-0">Tuổi: <%= patient.User.age %> tuổi</p> -->
                            <p class="m-0">Giới tính: <%= patient.User.sex %>
                            </p>
                            <p class="m-0">Điện thoại: <%= patient.User.phone %>
                            </p>
                            <p class="m-0">Địa chỉ: <%= patient.User.address %>
                            </p>
                            <p class="m-0">CMND/CCCD: <%= patient.User.citizenId %>
                            </p>
                            <!-- <% } else { %>
                                <p class="fs-6 m-0">Không có Bệnh nhân</p>
                                <% } %> -->
                        </div>

                        <div class="row border border-0 rounded shadow-sm bg-white">
                            <!-- <% if (patient) { %> -->
                            <a href="/user-detail/<%= patient.User.User_id %>" type="button" class="my-2 text-center">
                                <button class="btn btn-outline-primary w-75">
                                    <i class="me-2 fa-solid fa-hand-point-right"></i>Thông tin tài khoản
                                </button>
                            </a>
                            <p class="m-0">
                                Tài khoản <%= patient.User.User_id %>
                                    <i class="fas fa-edit fw-light text-cyan-400 ms-2" style="cursor: pointer;"
                                        title="Chỉnh sửa thông tin"></i>
                            </p>
                            <p class="m-0">Vai trò: <span class="text-blue-400">
                                    <%= patient.User.userType %>
                                </span></p>
                            <p class="m-0">Giới tính: <%= patient.User.sex %>
                            </p>
                            <p class="m-0">Số điện thoại: <%= patient.User.phone %>
                            </p>
                            <p class="m-0">CMND/CCCD: <%= patient.User.citizenId %>
                            </p>
                            <p class="m-0">Địa chỉ: <%= patient.User.address %>
                            </p>
                            <!-- <% } else { %> -->
                            <!-- <p class="fs-6 m-0">Không có thông tin</p> -->
                            <!-- <% } %> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>