<div class="row g-0">
    <div class="container-fluid bg-white-200 bg-opacity-75 text-center p-4 po-ralative">
        <p class="fs-5 text-gray-700 text-start" id="pageTitle">Thông tin chuyên khoa</p>
        <div id="contentArea">
            <div class="row m-0">
                <div class="col ms-3 ps-2 text-start">
                    <div class="row mb-2 border border-0 rounded shadow-sm bg-white">
                        <p class="fw-bold fs-5 text-center">Thông tin chuyên khoa</p>
                        <p class="m-0">
                            Chuyên khoa: <%= specialty.name %>
                                <i class="fas fa-edit fw-light text-cyan-400 ms-2" style="cursor: pointer;"
                                    title="Chỉnh sửa thông tin"></i>
                        </p>
                        <p class="m-0">Mô tả: <%= specialty.description %>
                        </p>
                    </div>
                    <div class="row mb-2 border border-0 rounded shadow-sm bg-white">
                        <table>
                            <thead>
                                <tr class="text-center">
                                    <th>STT</th>
                                    <th>Tên bác sĩ</th>
                                    <th>Kinh nghiệm</th>
                                    <th>Nơi làm việc</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% doctors.forEach((doctor, index)=> { %>
                                    <tr>
                                        <td>
                                            <%= index + 1 %>
                                        </td>
                                        <td>
                                            <%= doctor.User.name %>
                                        </td>
                                        <td>
                                            <%= doctor.experience %>
                                        </td>
                                        <td>
                                            <%= doctor.Facility.name %>
                                        </td>
                                        <td class="text-center">
                                            <a href="/doctor-detail/<%= doctor.id %>">Xem chi tiết</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>