<div class="row g-0">
    <div class="container-fluid bg-white-200 bg-opacity-75 text-center p-4 po-ralative">
        <p class="fs-5 text-gray-700 text-start" id="pageTitle">Thông tin chuyên khoa</p>
        <div id="contentArea">
            <div class="row">
                <div class="col p-5 border border-0 rounded shadow bg-white text-start">
                    <h3 class="text-center text-uppercase">
                        <%= specialty.name %>
                    </h3>
                    <p>Mô tả: <%= specialty.description %>
                    </p>
                </div>
                <div class="col py-5 px-3 ms-3 border border-0 rounded shadow bg-white">
                    <table class="table table-bordered table-hover table-striped caption-top">
                        <caption>DANH SÁCH BÁC SĨ
                            <hr class="m-0">
                        </caption>
                        <thead class="table-info">
                            <tr class="text-center">
                                <th>STT</th>
                                <th>Tên bác sĩ</th>
                                <th>Kinh nghiệm</th>
                                <th>Nơi làm việc</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% doctors.forEach((doctor, index)=> { %>
                                <tr class="text-center">
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= doctor.User.name %>
                                    </td>
                                    <td>
                                        <%= doctor.experience %>
                                    </td>
                                    <td>
                                        <%= doctor.Facility.name %>
                                    </td>
                                    <td class="text-center">
                                        <a href="/doctor-detail/<%= doctor.id %>">Xem chi tiết</a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>