<div class="row">
    <div>
        <a href="/doctor/create-doctor" class="btn btn-success mb-3">
            <i class="fa-solid fa-plus"></i>Add new doctor
        </a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table-primary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">User Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach((user, index)=> { %>
                <tr>
                    <th scope="row">
                        <%= index + 1 %>
                    </th>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.userType %>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-info" onclick="editUser('<%= user.id %>')">Edit</button>
                        <button class="btn btn-sm btn-danger" onclick="deleteUser('<%= user.id %>')">Delete</button>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>